h1{
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    background-color: white;
}

ul {
    list-style: none;
    cursor: pointer;
}

li:hover {
    background-color: lightgray;
    color: darkblue;
    cursor: pointer;
}

.cdk-drag {
    cursor: pointer;
}
  
  
  
  
  
  


