<h1>Select your top 5 tech skills</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ng-container *ngFor="let index of dropdownCountArray">
        <app-filtered-dropdown 
          [options]="skills" 
          (skillSelected)="onSkillSelected($event)" 
          (clearSelectedOption)="onClearSkill($event)">
        </app-filtered-dropdown>
      </ng-container>
    </div>
    <div class="col-md-6">
      <h4>Suggested Skills</h4>
      <ul>
        <li *ngFor="let skill of skills">{{ skill.name }}</li>
      </ul>
    </div>
  </div>  
</div>