<h1>Select your top 5 tech skills</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let index of dropdownCountArray; let i = index" cdkDrag>
          <app-filtered-dropdown
            [options]="skills"
            (skillSelected)="onSkillSelected($event)"
            (clearSelectedOption)="onClearSkill($event)"
            [selectedOptionFromParent]="selectedSkills[i]"
            [inputEnabled]="shouldEnableInput(i)"
            >
          </app-filtered-dropdown>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Suggested Skills</h4>
      <ul>
        <li *ngFor="let skill of skills" (click)="onSkillSelected(skill)">&plus; {{ skill.name }}</li>
      </ul>
    </div>
  </div>
</div>